In [178]:
import pandas as pd
from datetime import datetime

df = pd.read_csv("E:\Jupyter\Data Pegawai Kampus XYZ.csv")

<>:4: SyntaxWarning: invalid escape sequence '\J'
<>:4: SyntaxWarning: invalid escape sequence '\J'
C:\Users\WINDOWS\AppData\Local\Temp\ipykernel_15496\44715516.py:4: SyntaxWarning: invalid escape sequence '\J'
  df = pd.read_csv("E:\Jupyter\Data Pegawai Kampus XYZ.csv")

In [179]:
df.head()

,id_pegawai,jk,tgl_lahir,rumpun_ilmu,stat_aktif,stat_pegawai,ikatan_kerja,pendidikan,pangkat,jabatan_akademik,sertifikasi,tahun_sertifikasi,tgl_jabatan_akademik,jenj_prodi,prodi,fakultas
0,1,L,1972-02-10,NaN,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,NaN,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK
1,2,L,1985-03-27,RUMPUN ILMU TERAPAN,Aktif,NON ASN,Dosen Tetap Perjanjian Kerja Waktu Tertentu,S3,III/c - Penata,Lektor Kepala,Sertifikasi Dosen,2020.0,2023-06-01,S1,Teknik Mesin,FT
2,3,P,1990-01-09,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/b - Penata Muda Tk. I,Asisten Ahli,NaN,NaN,2024-05-01,S1,Sistem Informasi,FIK
3,4,P,1987-01-12,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/c - Penata,Lektor,Sertifikasi Dosen,2018.0,2023-07-03,S1,Informatika,FIK
4,5,P,1967-11-28,NaN,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,NaN,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK

## Semua

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pegawai            725 non-null    int64
 1   jk                    725 non-null    object
 2   tgl_lahir             725 non-null    object
 3   rumpun_ilmu           503 non-null    object
 4   stat_aktif            725 non-null    object
 5   stat_pegawai          725 non-null    object
 6   ikatan_kerja          725 non-null    object
 7   pendidikan            725 non-null    object
 8   pangkat               520 non-null    object
 9   jabatan_akademik      490 non-null    object
 10  sertifikasi           314 non-null    object
 11  tahun_sertifikasi     314 non-null    float64
 12  tgl_jabatan_akademik  490 non-null    object
 13  jenj_prodi            725 non-null    object
 14  prodi                 725 non-null    object
 15  fakultas              725 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 90.8+ KB

In [181]:
df.describe()

       id_pegawai  tahun_sertifikasi
count   725.00000         314.000000
mean    363.00000        1985.582803
std     209.43376         253.014088
min       1.00000           0.000000
25%     182.00000        2015.000000
50%     363.00000        2018.000000
75%     544.00000        2021.000000
max     725.00000        2024.000000

In [182]:
df.isnull().sum()

id_pegawai                0
jk                        0
tgl_lahir                 0
rumpun_ilmu             222
stat_aktif                0
stat_pegawai              0
ikatan_kerja              0
pendidikan                0
pangkat                 205
jabatan_akademik        235
sertifikasi             411
tahun_sertifikasi       411
tgl_jabatan_akademik    235
jenj_prodi                0
prodi                     0
fakultas                  0
dtype: int64

Menghilangkan Whitespace/spasi ganda

In [183]:
df.columns = df.columns.str.strip()
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\WINDOWS\AppData\Local\Temp\ipykernel_15496\2390159178.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

## id_pegawai

In [184]:
df['id_pegawai'].nunique()

725

In [185]:
## Mencari jika ID ada duplikat atau tidak
df['id_pegawai'].duplicated().sum()

0

## jk

In [186]:
df['jk'].unique()

array(['L', 'P'], dtype=object)

In [187]:
df['jk'].value_counts()

jk
P    393
L    332
Name: count, dtype: int64

## tgl_lahir

In [188]:
df['tgl_lahir'] = pd.to_datetime(df['tgl_lahir'], errors='coerce')

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pegawai            725 non-null    int64
 1   jk                    725 non-null    object
 2   tgl_lahir             725 non-null    datetime64[ns]
 3   rumpun_ilmu           503 non-null    object
 4   stat_aktif            725 non-null    object
 5   stat_pegawai          725 non-null    object
 6   ikatan_kerja          725 non-null    object
 7   pendidikan            725 non-null    object
 8   pangkat               520 non-null    object
 9   jabatan_akademik      490 non-null    object
 10  sertifikasi           314 non-null    object
 11  tahun_sertifikasi     314 non-null    float64
 12  tgl_jabatan_akademik  490 non-null    object
 13  jenj_prodi            725 non-null    object
 14  prodi                 725 non-null    object
 15  fakultas              725 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 90.8+ KB

Tambah kolom umur agar dapat memvisualisasikan data-data yang berhubungan dengan umur mereka.

In [190]:
df['umur'] = (datetime.now() - df['tgl_lahir']).dt.days // 365

## rumpun_ilmu

Jika tidak ada rumpun ilmu, biasanya pengajar non dosen

In [191]:
df['rumpun_ilmu'].unique()

array([nan, 'RUMPUN ILMU TERAPAN', 'RUMPUN ILMU FORMAL',
       'RUMPUN ILMU SOSIAL', 'RUMPUN ILMU ALAM', 'RUMPUN ILMU HUMANIORA',
       'RUMPUN ILMU KEAGAMAAN'], dtype=object)

In [192]:
df['rumpun_ilmu'].value_counts()

rumpun_ilmu
RUMPUN ILMU TERAPAN      378
RUMPUN ILMU SOSIAL        72
RUMPUN ILMU FORMAL        45
RUMPUN ILMU ALAM           4
RUMPUN ILMU HUMANIORA      3
RUMPUN ILMU KEAGAMAAN      1
Name: count, dtype: int64

In [193]:
df['rumpun_ilmu'].isnull().sum()

222

In [194]:
df['rumpun_ilmu'] = df['rumpun_ilmu'].fillna('Null')

In [195]:
df.head()

,id_pegawai,jk,tgl_lahir,rumpun_ilmu,stat_aktif,stat_pegawai,ikatan_kerja,pendidikan,pangkat,jabatan_akademik,sertifikasi,tahun_sertifikasi,tgl_jabatan_akademik,jenj_prodi,prodi,fakultas,umur
0,1,L,1972-02-10,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,NaN,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK,53
1,2,L,1985-03-27,RUMPUN ILMU TERAPAN,Aktif,NON ASN,Dosen Tetap Perjanjian Kerja Waktu Tertentu,S3,III/c - Penata,Lektor Kepala,Sertifikasi Dosen,2020.0,2023-06-01,S1,Teknik Mesin,FT,40
2,3,P,1990-01-09,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/b - Penata Muda Tk. I,Asisten Ahli,NaN,NaN,2024-05-01,S1,Sistem Informasi,FIK,35
3,4,P,1987-01-12,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/c - Penata,Lektor,Sertifikasi Dosen,2018.0,2023-07-03,S1,Informatika,FIK,38
4,5,P,1967-11-28,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,NaN,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK,57

## stat_aktif

In [196]:
df['stat_aktif'].unique()

array(['Aktif', 'TUGAS BELAJAR', 'CUTI'], dtype=object)

In [197]:
df['stat_aktif'].value_counts()

stat_aktif
Aktif            677
TUGAS BELAJAR     47
CUTI               1
Name: count, dtype: int64

## stat_pegawai

1. NON ASN = Pegawai non Aparatur Sipil Negara, biasanya pegawai kontrak atau honorer.
2. PNS	= Pegawai Negeri Sipil; status kepegawaian tetap dari pemerintah.
3. PPPK	= Pegawai Pemerintah dengan Perjanjian Kerja; pegawai kontrak dari pemerintah.
4. CPNS	= Calon Pegawai Negeri Sipil; status sementara sebelum menjadi PNS penuh.
5. TNI	= Anggota Tentara Nasional Indonesia yang ditugaskan (biasanya untuk matkul bela negara, dsb).
6. ASN JF Non Dosen = 	Aparatur Sipil Negara Jabatan Fungsional Non Dosen (misalnya pustakawan, pranata komputer, dsb).
7. POLRI = Anggota Kepolisian Negara Republik Indonesia yang ditugaskan.

Insight:
1. ASN JF NON DOSEN pasti memiliki ikatan_kerja Dosen Tidak Tetap (Tidak merupakan dosen tetap)
2. NON ASN pasti bukan dosen tetap (Dosen Tidak Tetap, Dosen Tetap Perjanjian Kerja Waktu Tertentu, Pengajar nondosen)
3. POLRI itu merupakan kepolisian, bukan dosen
4. TNI itu pasti bukan dosen tetap
5. PPPK itu kebanyakan Dosen Tetap Perjanjian Kerja Waktu Tertentu, karena kontrak
6. PNS itu Dosen tetap
7. CPNS itu Dosen tetap

In [198]:
df['stat_pegawai'].unique()

array(['ASN JF Non Dosen', 'NON ASN', 'PNS', 'TNI', 'CPNS', 'PPPK',
       'POLRI'], dtype=object)

In [199]:
df['stat_pegawai'].value_counts()

stat_pegawai
NON ASN             235
PNS                 233
PPPK                 84
CPNS                 80
TNI                  44
ASN JF Non Dosen     43
POLRI                 6
Name: count, dtype: int64

## ikatan_kerja

In [200]:
df['ikatan_kerja'].unique()

array(['Dosen Tidak Tetap', 'Dosen Tetap Perjanjian Kerja Waktu Tertentu',
       'Dosen Tetap', 'Pengajar nondosen'], dtype=object)

In [201]:
df['ikatan_kerja'].value_counts()

ikatan_kerja
Dosen Tetap                                    313
Dosen Tetap Perjanjian Kerja Waktu Tertentu    220
Dosen Tidak Tetap                              186
Pengajar nondosen                                6
Name: count, dtype: int64

Berarti:
1. Dosen Tetap: **CPNS**, **PNS**
2. Dosen Tetap Perjanjian Kerja Waktu Tertentu: **NON ASN**, **PPPK**
3. Pengajar Nondosen: **NON ASN**
4. Dosen Tidak Tetap: **ASN JF NON DOSEN**, **NON ASN**, **POLRI**, **TNI**

## pendidikan

In [202]:
df['pendidikan'].unique()

array(['Sp-1', 'S3', 'S2', 'Profesi', 'Sp-2'], dtype=object)

In [203]:
df['pendidikan'].value_counts()

pendidikan
S2         436
S3         157
Sp-1       122
Sp-2         7
Profesi      3
Name: count, dtype: int64

## pangkat

In [204]:
df['pangkat'].unique()

array([nan, 'III/c - Penata', 'III/b - Penata Muda Tk. I',
       'IV/a - Pembina', 'IV/d - Pembina Utama Madya',
       'IV/b - Pembina Tk. I', 'III/d - Penata Tk. I',
       'IV/c - Pembina Utama Muda', 'III/a - Penata Muda',
       'IV/e - Pembina Utama'], dtype=object)

In [205]:
df['pangkat'].isnull().sum()

205

In [206]:
df['pangkat'] = df['pangkat'].fillna('Null')

In [207]:
df['pangkat'].unique()

array(['Null', 'III/c - Penata', 'III/b - Penata Muda Tk. I',
       'IV/a - Pembina', 'IV/d - Pembina Utama Madya',
       'IV/b - Pembina Tk. I', 'III/d - Penata Tk. I',
       'IV/c - Pembina Utama Muda', 'III/a - Penata Muda',
       'IV/e - Pembina Utama'], dtype=object)

In [208]:
df.head()

,id_pegawai,jk,tgl_lahir,rumpun_ilmu,stat_aktif,stat_pegawai,ikatan_kerja,pendidikan,pangkat,jabatan_akademik,sertifikasi,tahun_sertifikasi,tgl_jabatan_akademik,jenj_prodi,prodi,fakultas,umur
0,1,L,1972-02-10,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,Null,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK,53
1,2,L,1985-03-27,RUMPUN ILMU TERAPAN,Aktif,NON ASN,Dosen Tetap Perjanjian Kerja Waktu Tertentu,S3,III/c - Penata,Lektor Kepala,Sertifikasi Dosen,2020.0,2023-06-01,S1,Teknik Mesin,FT,40
2,3,P,1990-01-09,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/b - Penata Muda Tk. I,Asisten Ahli,NaN,NaN,2024-05-01,S1,Sistem Informasi,FIK,35
3,4,P,1987-01-12,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/c - Penata,Lektor,Sertifikasi Dosen,2018.0,2023-07-03,S1,Informatika,FIK,38
4,5,P,1967-11-28,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,Null,NaN,NaN,NaN,NaN,Profesi,Pendidikan Profesi Dokter,FK,57

## jabatan_akademik

In [209]:
df['jabatan_akademik'].unique()

array([nan, 'Lektor Kepala', 'Asisten Ahli', 'Lektor', 'Profesor'],
      dtype=object)

In [210]:
df['jabatan_akademik'].value_counts()

jabatan_akademik
Lektor           321
Asisten Ahli     118
Lektor Kepala     41
Profesor          10
Name: count, dtype: int64

In [211]:
df['jabatan_akademik'] = df['jabatan_akademik'].fillna('Null')

## sertifikasi

In [212]:
df['sertifikasi'].unique()

array([nan, 'Sertifikasi Dosen'], dtype=object)

In [213]:
## Sertifikasi diganti Null karena jika diganti menjadi Tidak ada Sertifikasi, 

df['sertifikasi'] = df['sertifikasi'].fillna('Null')

In [214]:
df['sertifikasi'].value_counts()

sertifikasi
Null                 411
Sertifikasi Dosen    314
Name: count, dtype: int64

## tahun_sertifikasi

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pegawai            725 non-null    int64
 1   jk                    725 non-null    object
 2   tgl_lahir             725 non-null    datetime64[ns]
 3   rumpun_ilmu           725 non-null    object
 4   stat_aktif            725 non-null    object
 5   stat_pegawai          725 non-null    object
 6   ikatan_kerja          725 non-null    object
 7   pendidikan            725 non-null    object
 8   pangkat               725 non-null    object
 9   jabatan_akademik      725 non-null    object
 10  sertifikasi           725 non-null    object
 11  tahun_sertifikasi     314 non-null    float64
 12  tgl_jabatan_akademik  490 non-null    object
 13  jenj_prodi            725 non-null    object
 14  prodi                 725 non-null    object
 15  fakultas              725 non-null    object
 16  umur                  725 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 96.4+ KB

Mengubah tahun_sertifikasi dari float ke int

In [216]:
df['tahun_sertifikasi'].unique()

array([  nan, 2020., 2018., 2017., 2015., 2024., 2016., 2012., 2022.,
       2019., 2023., 2011., 2008., 2013., 2021.,    0., 2014., 2010.,
       2009.])

Karena ada nilai 0 didalam tahun sertifikasi tetapi terdapat sertifikasi, maka akan diubah menjadi 1 sebagai tulisan bahwa:
1 = Memiliki sertifikasi, tidak ada tahun
0 = Tidak ada sertifikasi, tidak ada tahun

In [217]:
df['tahun_sertifikasi'] = df['tahun_sertifikasi'].replace(0, 1)

In [218]:
## Mengubah tahun_sertifikasi dari float ke int
df['tahun_sertifikasi'] = df['tahun_sertifikasi'].fillna(0).astype(int)

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_pegawai            725 non-null    int64
 1   jk                    725 non-null    object
 2   tgl_lahir             725 non-null    datetime64[ns]
 3   rumpun_ilmu           725 non-null    object
 4   stat_aktif            725 non-null    object
 5   stat_pegawai          725 non-null    object
 6   ikatan_kerja          725 non-null    object
 7   pendidikan            725 non-null    object
 8   pangkat               725 non-null    object
 9   jabatan_akademik      725 non-null    object
 10  sertifikasi           725 non-null    object
 11  tahun_sertifikasi     725 non-null    int32
 12  tgl_jabatan_akademik  490 non-null    object
 13  jenj_prodi            725 non-null    object
 14  prodi                 725 non-null    object
 15  fakultas              725 non-null    object
 16  umur                  725 non-null    int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(13)
memory usage: 93.6+ KB

In [220]:
df['tahun_sertifikasi'].unique()

array([   0, 2020, 2018, 2017, 2015, 2024, 2016, 2012, 2022, 2019, 2023,
       2011, 2008, 2013, 2021,    1, 2014, 2010, 2009])

In [221]:
df['tahun_sertifikasi'].value_counts()

tahun_sertifikasi
0       411
2020     43
2017     31
2019     25
2024     24
2012     23
2016     22
2021     22
2018     21
2023     21
2011     19
2015     16
2022     15
2013      8
2014      6
1         5
2009      5
2008      4
2010      4
Name: count, dtype: int64

## tgl_jabatan_akademik

In [222]:
df['tgl_jabatan_akademik'].unique()

array([nan, '2023-06-01', '2024-05-01', '2023-07-03', '2016-01-01',
       '2022-06-01', '2023-12-01', '2019-04-01', '2000-06-01',
       '2023-05-03', '2006-06-01', '2022-03-01', '2002-09-01',
       '2022-09-01', '2017-11-01', '2023-08-01', '2022-07-01',
       '2024-09-01', '2023-04-01', '2021-11-01', '2020-06-01',
       '2022-10-01', '2001-01-01', '2022-01-01', '2020-02-01',
       '2019-07-01', '2024-01-01', '2023-06-05', '2017-02-01',
       '2023-11-01', '2020-11-01', '2020-03-01', '2023-02-01',
       '1970-01-01', '2018-08-01', '2019-10-01', '2007-10-01',
       '2022-04-01', '2012-08-01', '2022-08-01', '2018-04-01',
       '2021-04-01', '2021-07-01', '2024-11-01', '1997-07-01',
       '2021-10-01', '2011-03-01', '2017-05-31', '2005-09-22',
       '2024-12-01', '1998-10-31', '2020-07-01', '2024-02-01',
       '2022-11-01', '2023-05-01', '2019-09-30', '2013-06-01',
       '2017-04-01', '2023-04-03', '2018-12-01', '2023-10-01',
       '2020-08-01', '2019-09-02', '2024-06-01', '2023-01-01',
       '2021-02-01', '2020-12-01', '2009-01-01', '2007-09-01',
       '2012-01-01', '2021-03-01', '2022-02-01', '2007-05-01',
       '2022-05-01', '2019-05-01', '2020-03-31', '2019-04-21',
       '2024-04-01', '2020-04-01', '2016-08-01', '2022-12-01',
       '2010-01-01', '2024-08-01', '2002-04-01', '2016-05-24',
       '2013-02-01', '1993-09-01', '2005-04-01', '2012-04-01',
       '2022-10-11', '2021-01-01', '2018-01-01', '2018-10-01',
       '2024-10-01', '2002-12-31', '2009-12-01', '2025-01-01',
       '2013-10-01', '2021-05-01', '2019-01-01', '2019-09-01',
       '2014-12-01', '2018-11-01', '2024-01-02', '2014-03-01',
       '1997-09-01', '2009-10-17', '2021-06-01', '2019-12-01',
       '2010-09-01', '2022-08-31', '2023-09-01', '2018-07-01',
       '2017-06-01', '2011-08-01', '2012-10-01', '2020-10-01',
       '2015-09-01', '2023-07-10', '2019-03-01', '2020-09-01',
       '2020-05-01', '2019-11-01', '2015-01-01', '1990-10-01',
       '2009-04-24', '2000-12-01', '2021-09-01', '2024-03-01',
       '2007-04-01', '2005-07-01', '2000-01-01', '2013-04-01',
       '2014-01-01', '1998-11-01', '2013-08-01', '2024-01-15',
       '2010-04-30', '2009-04-01'], dtype=object)

In [223]:
df['tgl_jabatan_akademik'] = pd.to_datetime(df['tgl_jabatan_akademik'], errors='coerce')

## jenis_prodi

In [224]:
df['jenj_prodi'].unique()

array(['Profesi', 'S1', 'D3', 'S2', 'Sp-1', 'S3'], dtype=object)

In [225]:
df['jenj_prodi'].value_counts()

jenj_prodi
S1         475
Profesi    134
S2          53
D3          51
Sp-1         7
S3           5
Name: count, dtype: int64

In [226]:
df['jenj_prodi'].isnull().sum()

0

## prodi

In [227]:
df['prodi'].unique()

array(['Pendidikan Profesi Dokter', 'Teknik Mesin', 'Sistem Informasi',
       'Informatika', 'Keperawatan', 'Gizi', 'Teknik Industri', 'Hukum',
       'Ilmu Komunikasi', 'Radiologi', 'Fisioterapi',
       'Ekonomi Pembangunan', 'Perbankan dan Keuangan', 'Ilmu Politik',
       'Manajemen', 'Hubungan Internasional', 'Kedokteran',
       'Kajian Film, Televisi, dan Media', 'Sains Informasi',
       'Ekonomi Syariah', 'Biologi', 'Farmasi', 'Akuntansi',
       'Kesehatan Masyarakat', 'Sains Data', 'Hukum Bisnis',
       'Pendidikan Profesi Ners', 'Teknik Perkapalan', 'Teknik Elektro',
       'Sains Biomedis'], dtype=object)

In [228]:
df['prodi'].nunique()

30

In [229]:
df['prodi'].isnull().sum()

0

## fakultas

Mencoba untuk melihat apakah prodi dan fakultas sesuai

P.S. Untuk setiap prodi dan fakultas, dicheck menggunakan referensi dari website UPNVJ

FK – Fakultas Kedokteran
- Pendidikan Profesi Dokter
- Kedokteran
- Sains Biomedis
- Pendidikan Profesi Ners
- Radiologi

FT – Fakultas Teknik
- Teknik Mesin
- Teknik Industri
- Teknik Elektro
- Teknik Perkapalan

FIK – Fakultas Ilmu Komputer
- Sistem Informasi
- Informatika
- Sains Data

FIKES – Fakultas Ilmu Kesehatan
- Farmasi
- Biologi
- Keperawatan
- Gizi
- Fisioterapi
- Kesehatan Masyarakat

FH – Fakultas Hukum
- Hukum
- Hukum Bisnis

FISIP – Fakultas Ilmu Sosial dan Ilmu Politik
- Sains Informasi
- Ilmu Komunikasi
- Ilmu Politik
- Hubungan Internasional
- Kajian Film, Televisi, dan Media

FEB – Fakultas Ekonomi dan Bisnis
- Ekonomi Pembangunan
- Perbankan dan Keuangan
- Manajemen
- Ekonomi Syariah
- Akuntansi

In [230]:
df['fakultas'].unique()

array(['FK', 'FT', 'FIK', 'FIKES', 'FH', 'FISIP', 'FEB'], dtype=object)

In [231]:
df['fakultas'].isnull().sum()

0

In [232]:
mapping_fakultas = {
    # FK
    'Pendidikan Profesi Dokter': 'FK',
    'Kedokteran': 'FK',
    'Sains Biomedis': 'FK',
    'Pendidikan Profesi Ners': 'FK',
    'Radiologi': 'FK',

    # FT
    'Teknik Mesin': 'FT',
    'Teknik Industri': 'FT',
    'Teknik Elektro': 'FT',
    'Teknik Perkapalan': 'FT',

    # FIK
    'Sistem Informasi': 'FIK',
    'Informatika': 'FIK',
    'Sains Data': 'FIK',

    # FIKES
    'Farmasi': 'FIKES',
    'Biologi': 'FIKES',
    'Keperawatan': 'FIKES',
    'Gizi': 'FIKES',
    'Fisioterapi': 'FIKES',
    'Kesehatan Masyarakat': 'FIKES',

    # FH
    'Hukum': 'FH',
    'Hukum Bisnis': 'FH',

    # FISIP
    'Ilmu Komunikasi': 'FISIP',
    'Ilmu Politik': 'FISIP',
    'Hubungan Internasional': 'FISIP',
    'Kajian Film, Televisi, dan Media': 'FISIP',
    'Sains Informasi': 'FISIP',

    # FEB
    'Ekonomi Pembangunan': 'FEB',
    'Perbankan dan Keuangan': 'FEB',
    'Manajemen': 'FEB',
    'Ekonomi Syariah': 'FEB',
    'Akuntansi': 'FEB'
}

- Terdapat kesalahan untuk Hubungan Internasional yang seharusnya FISIP, tetapi dalam data tertulis FH
- Manajemen seharusnya berada di FEB, tetapi di data tertulis berada di FISIP
- Sains Biomedis seharusnya berada di FK, tetapi berada di FIKES

In [233]:
df['fakultas'] = df['prodi'].map(mapping_fakultas)

In [234]:
print(df[['prodi', 'fakultas']].head())

                       prodi fakultas
0  Pendidikan Profesi Dokter       FK
1               Teknik Mesin       FT
2           Sistem Informasi      FIK
3                Informatika      FIK
4  Pendidikan Profesi Dokter       FK

## Setelah preprocess and cleaning

In [235]:
df.head()

,id_pegawai,jk,tgl_lahir,rumpun_ilmu,stat_aktif,stat_pegawai,ikatan_kerja,pendidikan,pangkat,jabatan_akademik,sertifikasi,tahun_sertifikasi,tgl_jabatan_akademik,jenj_prodi,prodi,fakultas,umur
0,1,L,1972-02-10,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,Null,Null,Null,0,NaT,Profesi,Pendidikan Profesi Dokter,FK,53
1,2,L,1985-03-27,RUMPUN ILMU TERAPAN,Aktif,NON ASN,Dosen Tetap Perjanjian Kerja Waktu Tertentu,S3,III/c - Penata,Lektor Kepala,Sertifikasi Dosen,2020,2023-06-01,S1,Teknik Mesin,FT,40
2,3,P,1990-01-09,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/b - Penata Muda Tk. I,Asisten Ahli,Null,0,2024-05-01,S1,Sistem Informasi,FIK,35
3,4,P,1987-01-12,RUMPUN ILMU FORMAL,Aktif,PNS,Dosen Tetap,S2,III/c - Penata,Lektor,Sertifikasi Dosen,2018,2023-07-03,S1,Informatika,FIK,38
4,5,P,1967-11-28,Null,Aktif,ASN JF Non Dosen,Dosen Tidak Tetap,Sp-1,Null,Null,Null,0,NaT,Profesi,Pendidikan Profesi Dokter,FK,57

In [236]:
df.isnull().sum()

id_pegawai                0
jk                        0
tgl_lahir                 0
rumpun_ilmu               0
stat_aktif                0
stat_pegawai              0
ikatan_kerja              0
pendidikan                0
pangkat                   0
jabatan_akademik          0
sertifikasi               0
tahun_sertifikasi         0
tgl_jabatan_akademik    235
jenj_prodi                0
prodi                     0
fakultas                  0
umur                      0
dtype: int64

In [ ]:
import os

if not os.path.exists('data'):
    os.makedirs('data')

In [ ]:
df.to_csv('data/Data Pegawai Kampus XYZ - Clean.csv', index=False)

**Kualitas Data**

Kualitas datanya sudah baik, tetapi dapat ditingkatkan lagi, seperti terdapat angka 0 pada tgl_jabatan_akademik, banyak data yang kosong/null, terdapat sertifikasi dosen tetapi tidak ada tahun_sertifikasinya. Selain itu terdapat beberapa prodi yang memiliki fakultas yang salah.

**Penjelasan Konteks dan Tujuan Analisis**

Menganalisis komposisi pegawai di lingkungan Kampus XYZ untuk melihat distribusi jabatan, status kepegawaian, dan jumlah dosen yang sudah tersertifikasi, serta mengidentifikasi apakah ada ketidaksesuaian antara ikatan kerja dan status kepegawaiannya.